@import "tailwindcss";

@theme {
  --color-primary: #000000;
  --color-secondary: #2b2b2b;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

video {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

audio {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.container-header {
  margin: 0 auto;
  width: 1280px;
  display: flex;
  align-items: center;
}

.container {
  margin: 0 auto;
  width: 1280px;
}

.container-footer {
  margin: 0 auto;
  width: 1280px;
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
  font-size: 10px !important;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10 !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 24px;
  z-index: 10 !important;
}

.swiper-pagination-bullet {
  background-color: white;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

@media only screen and (min-width: 320px) and (max-width: 980px) {
  .container-header,
  .container,
  .container-footer {
    width: 100%;
    padding: 0 20px;
  }
}